body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #0909d8 100%);
    /*background-color: rgba(162, 197, 197, 0.867);*/
}

div {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 18px;
    width: 28%;
}

label {
    font-size: 18px;
}

input{
   border-radius: 5px;
}

legend {
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

fieldset {
    border: 3px solid dodgerblue;
}