body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #0909d8 100%);
    /*background-color: rgba(162, 197, 197, 0.867);*/
}

/*todas os css das divs existentes*/
div {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 18px;
    width: 28%;
}

/*label*/
label {
    font-size: 18px;
}

/*input somente do formulario.php class='input'*/
.input{
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*legend inicio.html*/
legend {
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

/*fieldset inicio.html e formulario.php*/
fieldset {
    border: 3px solid dodgerblue;
}















